<footer class="page-footer font-small pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">DIEGOPG</h5>
        <p class="slogan">𝓖𝓲𝓿𝓲𝓷𝓰 𝓲𝓽 𝓪𝓵𝓵 𝓲𝓷 𝓮𝓿𝓮𝓻𝔂 𝓽𝓻𝓪𝓬𝓴</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-6 mb-md-0 mb-3">
        <h5 class="text-uppercase">Redes Sociales</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.instagram.com/diegoporterodj/" target="_blank">
              <img src="assets/Instagram_logo_2016.svg.webp" alt="" width="40" height="40">
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/@diegoporterodj567" target="_blank">
              <img src="assets/ytlogo.png" alt="" width="40" height="30">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/?lang=es" target="_blank">
              <img src="assets/twitter.png" alt="" width="40" height="40">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

