<div class="main">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/U3SM8S_nlRw" title="DIEP G - BEST Performance MIX 2020 #1🔥 (Denon MCX8000)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="presentacion">
    <h1>¿Quién soy?</h1>
  </div>
  <div class="container">
    <div class="carousel">
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
      <div class="carousel__face"><span></span></div>
    </div>
  </div>
</div>
